.App {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#app-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    // pointer-events: none;
    opacity: 0.6;
}
